<div id="messageOwner">
  <%= user_avatar current_user %>
</div>

<div id="messageBody">
  <%= form_for [question, answer] do |f| %>
    <%= f.error_messages %>

    <div class="field">
      <%= f.label :body, "Give your answer bellow:" %><br />
      <%= f.text_area :body, rows: 10, cols: 60 %>
    </div>

    <%= f.captcha %>

    <div class="actions">
      <%= submit_button %> or <%= link_to_cancel %>
    </div>
  <% end %>
</div>

<%= clearfix %>
