<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>

  <body id="<%= body_css_id %>">

    <div id="wrapper">

      <div id="header">
        <div class="left">
          Community Support for 
          <strong><%= link_to "My App", root_path %></strong>
        </div>
        <div class="right">

          <% if signed_in? %>
            <%= current_user.email %> |
            <%= link_to "Sign Out", destroy_user_session_path %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %> | 
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>

        </div>
      </div>

      <div id="content">
        <div id="container">
          <div id="innerContainer">
            <%= flash_messages %>

            <div id="search">
              <div id="searchBar">
                <%= form_tag "#" do %>
                  <%= text_field_tag :search %>
                  <%= submit_tag "Search", class: "searchButton"  %>
                <% end -%>
              </div>

              <div id="searchOptions">
                <p><%= link_to "Advanced Search", "#" %></p>
              </div>
            </div>

            <%= yield %>
          </div>
        </div>

        <div id="sidebar">
          <%= link_to image_tag("logo.jpg", id: "productLogo"), root_path %>
          <p><%= link_to 'Ask a Question', new_question_path, id: "addQuestion" %></p>
        </div>
      </div>

      <div id="footer">
        <p>Powered by <strong><%= link_to "Oraculo", "http://oraculo.heroku.com/" %></strong></p>
      </div>

    </div>

  </body>
</html>